body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background-color: #e3d9de;
}

#gallery {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
}

#thumbs-gallery {
    width: 100%;
    background-color: #FF9E00;

}

#thumbs-gallery img {
    width: 118px;
    height: 70px;
    cursor: pointer;
    /*margin: 4px;*/
}

#current-photo-wrapper {
    background-color: #FFC900;
    height: 384px;
    border: 3px;
    padding: 8px;
}

#current-photo-wrapper img {
    width: 640px;
    height: 384px;
}

#navigation {
    background-color: #0E51A7;
}

#navigation button {
    margin: 8px;
    padding: 20px;
    width: 200px;
    background-color: #FF9E00;
    color: dimgrey;
    border: 2px solid black;
    font-size: 24px;
    border-radius: 15px;
}